<html>
  <body
    style="@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); font-family: 'Montserrat', sans-serif;"
  >
    <div style="  background-color:#18133d;padding:5px;margin-top:20px;">
      <div style="margin-top:15px; font-family: 'Montserrat', sans-serif;">
        <center>
          <img
            src="https://res.cloudinary.com/dukabills/image/upload/v1630801008/AppiPlace_-_Orange_white_ftsfja.png"
            style="width: 50%;"
          />
        </center>
        <br /><br />
        <div
          style="background-color: white;border-radius:20px; padding:25px 30px"
        >
          <p style="font-weight:bold;font-size:2.6em">Hey {{name}}</p>
          <h2>Welcome to Appiplace!</h2>
          <br />
          <p style="line-height:40px;">
            If you have any issues with the sign up process, we are happy to
            help! Please visit our<b
              ><br /><a
                href="mailto:support@appiplace.me"
                style="text-decoration: none;"
                >help center</a
              ></b
            >
            or reach out to our
            <b
              ><a
                style="text-decoration: none;"
                href="mailto:support@appiplace.me"
                >Support team</a
              ></b
            >
            .
          </p>

          <p style="margin-top:20px;">
            Sincerely,<br />
            The Appiplace team
          </p>
        </div>
      </div>
      <center>
        <div style="width:95%">
          <!-- <br /><br /> -->
          <p style="color:white;">
            You received this message because you have an account on our platorm
            and we promise not to spam you!
          </p>
          <br />
          <p>
            <a
              href="https://appiplace.me"
              style="color:white;text-decoration: none;"
              >© www.appiplace.me</a
            >
          </p>
        </div>
      </center>
    </div>
  </body>
</html>
